$tag: 'spx-icon';

$color: 'inherit';
$size: '1em';
$sizeMax: 1;
$sizeMin: 0.8;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include style($tag, 'size', 'font-size', $size, $sizeMin, $sizeMax);

  :host([type='loader']) & {
    transform-origin: center;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: spin;
  }

  * {
    color: variable($tag, 'color', $color);
  }
}

.loader {
  width: 1em;
}
