spx-code {
  pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 5.2em;
    counter-reset: linenumber;
  }

  pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
  }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: calc(var(--spx-code-padding) * -1);
    font-size: 100%;
    left: -5.2em;
    z-index: 0;
    width: 3.5em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
    z-index: 1;
  }

  .line-numbers-rows > span:before {
    content: counter(linenumber);
    display: block;
    padding-right: 1.2em;
    text-align: right;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    color: #a9b7c6;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    * {
      font-family: Consolas, Monaco, 'Andale Mono', monospace !important;
    }
  }

  pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
  }

  pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, code[class*="language-"] ::selection {
    color: inherit;
    background: rgba(33, 66, 131, .85);
  }
}