@import 'spx-code';

spx-code {
  .language-css {
    color: #BD93F9;
  }

  .token {
    color: #FF79C6;
  }

  .language-css .token {
    color: #FF79C6;
  }

  .token.script {
    color: #F8F8F2;
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.atrule, .token.attr-name, .token.attr-value {
    color: #50FA7B;
  }

  .language-css .token.atrule {
    color: #BD93F9;
  }

  .language-html .token.attr-value, .language-markup .token.attr-value {
    color: #F1FA8C;
  }

  .token.boolean {
    color: #BD93F9;
  }

  .token.builtin, .token.class-name {
    color: #8BE9FD;
  }

  .token.comment {
    color: #6272A4;
  }

  .token.constant {
    color: #BD93F9;
  }

  .language-javascript .token.constant {
    color: #FFB86C;
    font-style: italic;
  }

  .token.entity {
    color: #FF79C6;
  }

  .language-css .token.entity {
    color: #50FA7B;
  }

  .language-html .token.entity.named-entity {
    color: #BD93F9;
  }

  .language-html .token.entity:not(.named-entity) {
    color: #FF79C6;
  }

  .language-markup .token.entity.named-entity {
    color: #BD93F9;
  }

  .language-markup .token.entity:not(.named-entity) {
    color: #FF79C6;
  }

  .token.function {
    color: #50FA7B;
  }

  .language-css .token.function {
    color: #8BE9FD;
  }

  .token.important, .token.keyword {
    color: #FF79C6;
  }

  .token.prolog {
    color: #F8F8F2;
  }

  .token.property {
    color: #FFB86C;
  }

  .language-css .token.property {
    color: #8BE9FD;
  }

  .token.punctuation {
    color: #FF79C6;
  }

  .language-css .token.punctuation {
    color: #FFB86C;
  }

  .language-html .token.punctuation, .language-markup .token.punctuation {
    color: #F8F8F2;
  }

  .token.selector {
    color: #FF79C6;
  }

  .language-css .token.selector {
    color: #50FA7B;
  }

  .token.regex {
    color: #FF5555;
  }

  .language-css .token.rule:not(.atrule) {
    color: #F8F8F2;
  }

  .token.string {
    color: #F1FA8C;
  }

  .token.tag {
    color: #FF79C6;
  }

  .token.url {
    color: #8BE9FD;
  }

  .language-css .token.url {
    color: #FFB86C;
  }

  .token.variable {
    color: #6272A4;
  }

  .token.number {
    color: rgba(189, 147, 249, 1);
  }

  .token.operator {
    color: rgba(139, 233, 253, 1);
  }

  .token.char {
    color: rgba(255, 135, 157, 1);
  }

  .token.symbol {
    color: rgba(255, 184, 108, 1);
  }

  .token.deleted {
    color: #e2777a;
  }

  .token.namespace {
    color: #e2777a;
  }
}