$tag: 'spx-text-path';

$textColor: #000000;
$textFontWeight: '';
$textFontSize: clamp(20px, 3vw, 24px);
$textTransform: default;

:host {
  height: 100%;
  width: 100%;
  display: variable($tag, 'display', block);
}

.text-path {
  text-transform: variable($tag, 'text-transform', $textTransform);
  font-weight: variable($tag, 'text-font-weight', $textFontWeight);
  font-size: variable($tag, 'text-font-size', $textFontSize);
  fill: variable($tag, 'text-color', $textColor);
}
