$tag: 'spx-edit-button';

$background: var(--spx-color-gray-900);
$backgroundDiscard: var(--spx-color-gray-600);
$border: none;
$borderDiscard: none;
$borderRadius: var(--spx-border-radius);
$bottom: 1em;
$color: #ffffff;
$colorDiscard: #ffffff;
$fontSize: var(--spx-font-size);
$fontSizeMax: 1.2;
$fontSizeMin: 1;
$gap: 0.4em;
$left: none;
$loaderColor: #ffffff;
$loaderGap: 0.5em;
$padding: 1em 1.2em;
$paddingXMax: 1.4;
$paddingXMin: 1;
$paddingYMax: 1.2;
$paddingYMin: 0.7;
$position: absolute;
$right: 1em;
$top: none;
$zIndex: 99;

:host {
  display: variable($tag, 'display', block);
}

.inner {
  display: grid;
  grid-gap: variable($tag, 'gap', $gap);
  position: variable($tag, 'position', $position);
  z-index: variable($tag, 'z-index', $zIndex);
  top: variable($tag, 'top', $top);
  right: variable($tag, 'right', $right);
  bottom: variable($tag, 'right', $bottom);
  left: variable($tag, 'left', $left);
  @include style(
    $tag,
    'font-size',
    'font-size',
    $fontSize,
    $fontSizeMin,
    $fontSizeMax
  );
}

.button {
  --spx-icon-color: #{variable($tag, 'loader-color', $loaderColor)};
  font-family: var(--spx-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  color: variable($tag, 'color', $color);
  background: variable($tag, 'background', $background);
  border: variable($tag, 'border', $border);
  border-radius: variable($tag, 'border-radius', $borderRadius);
  @include style(
    $tag,
    'padding-x',
    'padding-left',
    $padding,
    $paddingXMin,
    $paddingXMax
  );
  @include style(
    $tag,
    'padding-x',
    'padding-right',
    $padding,
    $paddingXMin,
    $paddingXMax
  );
  @include style(
    $tag,
    'padding-y',
    'padding-top',
    $padding,
    $paddingYMin,
    $paddingYMax
  );
  @include style(
    $tag,
    'padding-y',
    'padding-bottom',
    $padding,
    $paddingYMin,
    $paddingYMax
  );
  @include focus;
  transition-property: background, box-shadow;

  :host([styling='default']) & {
    padding: variable($tag, 'padding', $padding);
  }

  &--discard {
    color: variable($tag, 'color-discard', $colorDiscard);
    background: variable($tag, 'background-discard', $backgroundDiscard);
  }
}

.loader {
  display: block;
  margin-right: variable($tag, 'loader-gap', $loaderGap);
}
