body {
    margin: 0;
    --spx-color-black: #000000;
    --spx-color-white: #ffffff;
    --spx-color-gray-50: #FAFAFA;
    --spx-color-gray-100: #F4F4F5;
    --spx-color-gray-200: #E4E4E7;
    --spx-color-gray-300: #D4D4D8;
    --spx-color-gray-400: #A1A1AA;
    --spx-color-gray-500: #71717A;
    --spx-color-gray-600: #52525B;
    --spx-color-gray-700: #3F3F46;
    --spx-color-gray-800: #27272A;
    --spx-color-gray-900: #18181B;
}

spx-container {
    visibility: hidden;
}